# Public URL of the Supabase Storage bucket (object path), es:
# https://<project-ref>.supabase.co/storage/v1/object/public/models
VITE_SUPABASE_STORAGE_URL=https://ngmqwjnepbvcduazpbxn.supabase.co/storage/v1/object/public/3D%20models%20(TRELLIS%20and%20COLMAP)