* {
  box-sizing: border-box;
}
html {
  overscroll-behavior-x: none;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  font-family: poppins, monospace, sans-serif;
  background: #0d162c;
  color: white;
}
